<% content_for :subtitle do %>Profile<% end %>
<% id=@user.id.to_s %>

<% form_for :user, @user, :url => { :action => "password" } do |f| %>
<center>
    <%= f.error_messages :header_message => "Please correct the following errors:",
        :message => nil %>
</center>
<% end %>

<% content_for :content_header do %>
    <h1><img src="/images/icon_edit_m.png" width="35" height="35" alt="Edit" class="icon_header">Security Settings</h1>
<% end %>
    





<center>
        <form action="/plugin/0/users/<%=id%>" name="form" method="post">
            <input name="<%= request_forgery_protection_token %>" type="hidden" value="<%= escape_javascript(form_authenticity_token) %>" />
            <input name="after_submit" type="hidden" value="<%= request.request_uri %>" />
            <input name="page_path" type="hidden" value="<%= request.request_uri %>" />
            <input name="_method" type="hidden" value="put" />
        <table border="0" cellpadding="10" id="table_form">
            <tr><td colspan="2"></td></tr>
            <% rownum=0 %>
            <tr <%= (((rownum+=1)%2)==1)?'class="odd"':'' %>>
                <th width="20%"></th>
                <th width="50%"></th>
            </tr>
            <% ncp = @no_current_password.present? %>
            <tr <%= (((rownum+=1)%2)==1)?'class="odd"':'' %>>
                <td><label><%= ncp ? '<s>Current Password</s>' : 'Current Password' %></label></td>
                <td><input maxlength="16" id="password" name="user[current_password]" type="password" class="input_text" value="<%=@user.current_password%>" <%= 'readonly' unless !ncp %>/></td>
            </tr>
            <tr <%= (((rownum+=1)%2)==1)?'class="odd"':'' %>>
                <td><label>New Password</label></td>
                <td><input maxlength="16" id="password" name="user[password]" type="password" class="input_text" value="<%=@user.password%>" /></td>
            </tr>
            <tr <%= (((rownum+=1)%2)==1)?'class="odd"':'' %>>
                <td><label>Confirm Password</label></td>
                <td><input maxlength="16" id="password_confirmation" name="user[password_confirmation]" class="input_text" type="password" value="<%=@user.password_confirmation%>" /></td>
            </tr>
            <tr><td colspan="2"></td></tr>
            <tr <%= (((rownum+=1)%2)==1)?'class="odd"':'' %>>
<% if true %>
                <td colspan="2" align="center">
                    <button>Save</button>
                </td>
<% else %>
                <td colspan="2" align="center"><table><tr>
                    <td><span style="display:none;" id="save_button">
                        <a href="javascript:document.form.submit();" class="button singleline black tab"><span class="icon6 greyblack">+</span><span class="tagline1">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</span><span class="tagline2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As Draft</span></a>
                        </span><%= render :partial=>"shared/js_button", :locals=>{ :id=>'save_button', :value=>'Save' } %>
                    </td>
                    <td>
                        <a href="/users/<%=id%>" class="button singleline black tab"><span class="icon6 greyblack"><</span><span class="tagline1">Cancel</span><span class="tagline2"></span></a>
                    </td>
                </tr></table></td>
<% end %>
            </tr>
        </table>
        </form>
</center>

