<!DOCTYPE html> 
<html lang="en"> 
<% content_for :flash_notices do %>
    <% if false %>
        # msg_info, msg_error, msg_warn, msg_ok
    <% end %>
    <% if flash[:notice] %><p class="msg msg_ok"><%= flash[:notice] %></p><% end %>
    <% if flash[:error] %><p class="msg msg_error"><%= flash[:error] %></p><% end %>
<% end %>
<%
    after_submit = params[:after_submit].present? ? params[:after_submit] : request.request_uri
    page_path = request.request_uri
%>
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>Please Login to Begin | </title>
    <!--[if (!IE)|(gte IE 8)]><!-->
        <%= stylesheet_link_tag("/lobby/customized.min.css", :media => 'all') %>
    <!--<![endif]-->
    <!--[if lte IE 7]>
        <%= stylesheet_link_tag("/lobby/sessions.min.css", :media => 'all') %>
    <![endif]-->
    <%= javascript_include_tag "/lobby/sessions.js" %>

    <!--[if lt IE 9]>
        <%= javascript_include_tag "/lobby/ie.html5shiv.js" %>
        <style>
            .needs-js { visibility: hidden; }
            #content { visibility: visible; }
        </style>
    <![endif]-->

    <style>
        #content { margin-top: 0; }
    </style>

<%= google_tracker_js %>
</head> 
<body class="sessions"> 

  <div id="container">

    <header style="border: 1px;"> 
        <div style="padding: 5px;">
            <a id="logo" href="<%= $babelroom[:marcom_url] %>/"><img src="/lobby/ui/logo_25.png"></a>
            <div style="float: right; text-align: right; font-size: 12px; font-weight: bold; margin: 8px;">Account and Conference<br>Management</div>
        </div>

    </header>

    <div id="content">
  
    <%= yield :flash_notices %>

      
<script type="text/javascript">
$(function(){
  $('#forgot_password_w').hide();
  
  $('#to_forgot_password').live('click', function(e){
    e.preventDefault();    
    $('#submit').attr('disabled', 'disabled');
    $('#password_w').slideUp(function() {
      $('h1').text('Reset');
      $('#submit').text('Reset Password');
      $('#to_forgot_password').attr('id', 'back_to_login').text('Back to login');
      $('#submit').removeAttr('disabled');
//      $('form').attr('action', '/login/forgot_password') -- JR
      $('form').attr('action', '/plugin/0/forgot_password'); // -- JR
    });
  });

  $('#back_to_login').live('click', function(e){
    e.preventDefault();
    $('#submit').attr('disabled', 'disabled');
    $('#password_w').slideDown(function(){
      $('h1').text('Login');
      $('#submit').text('Login');      
      $('#back_to_login').attr('id', 'to_forgot_password').text('Forgot password?');
      $('#submit').removeAttr('disabled');
      $('form').attr('action', '/login')
    });
  });

  if (/^\?reset$/.exec(window.location.search))
    $('#to_forgot_password').click();
});

//forgot_password_path
</script>

<!--<h1>Login</h1>-->

<form accept-charset="UTF-8" action="/login" class="user_session_new" id="user_session_new" method="post">
    <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="<%= request_forgery_protection_token %>" value="<%= escape_javascript(form_authenticity_token) %>" />
        <input type="hidden" name="after_submit" value="<%= after_submit %>">
        <input type="hidden" name="page_path" value="<%= page_path %>">
    </div>
  <ul>

    <li>
      <label for="user_session_email">Email</label>
      <!--<input autofocus="autofocus" id="user_session_email" name="login" required="required" size="30" type="email" spellcheck="false" />-->
      <input autofocus="autofocus" id="user_session_email" name="login" size="30" type="email" spellcheck="false" />
    </li>
    <li id="password_w">
      <label for="user_session_password">Password</label>
      <input autocomplete="off" id="user_session_password" name="password" size="30" type="password" spellcheck="false" />
    </li>

  </ul>

  <div class="page_footer">
    <a href="/login/forgot_password" class="button" id="to_forgot_password">Forgot password?</a>
    <button type="submit" id="submit">Login</button>
  </div>
</form>

      
      <div style="clear:both;"></div>
    </div> <!--/content-->

  </div> <!--/container-->

  <footer>
    <a href="<%= $babelroom[:marcom_url] %>/signup/">Signup</a>
    <a href="<%= $babelroom[:marcom_url] %>/">Home</a>
    <%= render :partial => "shared/lobby_footer_links" %>
    <p>&#169; 2012–2013 Babelroom, Inc. All rights reserved.</p>
  </footer>
    
</body> 
</html>

